.chat {
  margin: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  margin-top: 20px;
  position: relative;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

.chat__top {
  display: grid;
  align-items: center;
  background-color: white;
  place-items: center;
  align-content: center;
  margin: 0px;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.chatTop__info {
  display: flex;
  align-items: center;
}
.chatTop__info > .avatar {
  font-size: 50px;
  margin-right: 10px;
}
.chatBottom {
  position: absolute;
  bottom: 10px;
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  min-width: 95%;
  padding: 15px;
  border-radius: 5px;
}

.sendMsg {
  padding: 10px;
  min-width: 80%;
  border-radius: 5px;
  border: none;
}

.chatBottom__snd {
  padding: 10px;
  margin-left: 20px;
  background-color: rgb(245, 40, 74);
  color: white;
  font-weight: 600;
  width: 70px;
  border: none;
}

.chatMiddle {
  overflow-y: scroll;
  background-color: #e9e7e7;
  height: 70%;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
}

.chat__received {
  position: relative;
  background-color: white;
  border-radius: 2px;
  margin: 10px;
  padding: 5px 10px;
  width: fit-content;
  margin-top: 20px;
}
.chat__sent {
  position: relative;
  background-color: white;
  border-radius: 2px;
  margin: 10px;
  padding: 5px 10px;
  width: fit-content;
  margin-left: auto;
}
.chatmsg__timestamp {
  font-size: xx-small;
  margin-left: 10px;
  color: rgb(119, 119, 119);
}

.chatmsg__sentby {
  position: absolute;
  top: -20px;
  left: -1px;
  font-size: small;
  color: #000000;
  font-style: bold;
  font-weight: 600;
}
